---
description: Use Hunter.io to verify a person's email address in a MindStudio workflow
---

# Email Verification

## Sample Output

```json
// Some code
```
